doctype html
html(lang="en")
  head
      title= NSA
      meta(http-equiv="content-type", content="text/html; charset=utf-8")
      meta(name="description", content="NSA")
      meta(name="keywords", content="")
      meta(name="viewport", content="width=device-width, user-scalable=no")
      link(rel="stylesheet", href="/styles/main.css")
      block head
  body
      //- include views/modules/projects-nav
      //- include views/modules/nav

      div.master
          block content
