doctype html
html(lang="en", ng-app="nsa")
    head
        meta(charset="utf-8")
        title Taiga
        meta(http-equiv="content-type", content="text/html; charset=utf-8")
        meta(name="description", content="")
        meta(name="keywords", content="")
        //-meta(name="viewport", content="width=device-width, user-scalable=no")
        link(rel="stylesheet", href="/styles/main.css")
        link(rel="icon", type="image/png", href="/images/favicon.png")
        block script
          script(src='/socket.io/socket.io.js')

    body(tg-main)
        //- include partials/views/modules/projects-nav

        //- the content of nav.menu is in coffe.modules.base TaigaMain directive
        nav.menu.hidden(tg-project-menu)

        //- include partials/views/components/notification-message

        div.master(ng-view)

        //- div.lightbox.lightbox-generic-ask
        //-     include partials/views/modules/lightbox-generic-ask
        //- div.lightbox.lightbox-ask-choice
        //-     include partials/views/modules/lightbox-ask-choice
        //- div.lightbox.lightbox-generic-success
        //-     include partials/views/modules/lightbox-generic-success
        //- div.lightbox.lightbox-generic-error
        //-     include partials/views/modules/lightbox-generic-error
        //- div.lightbox.lightbox-search(tg-search-box)
        //-     include partials/views/modules/lightbox-search
        //- div.lightbox.lightbox-feedback.lightbox-generic-form(tg-lb-feedback)
        //-     include partials/views/modules/lightbox-feedback

        //- include partials/views/modules/loader

        p Hello World 2

        //- script(src="/js/libs.js?v=#{v}")
        script(src="/js/app.js?v=#{v}")
        script(type='text/javascript').
          var socket = io.connect('http://localhost:3000/timeping');
          socket.on('timeping', function(timeping) {
            console.log("Got time: " + timeping.time);
          });
